<html>
  <head>
    <title>404 Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body background="{{url_for('static' , filename = '404.jpg')}}">
    <div class="container">
          <p style="font-size:20px;">The age of the universe is 13.82 billion years. Millions of choices , millions of different outcomes and yet you have arrived at this page at this very moment.
          Sadly, this page does not exist </p> 
    </div>
  </body>
</html>